
.main-view-container{
    display: flex;
    justify-content: center;
    background-color:whitesmoke;
}
.card-container {
    width: 90%;
    padding: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
}
.card{
    width: 80rem;
    padding: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.title{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    
}
.view-comment{
    margin-top:20px;
    display: flex;
    justify-content: left;
    font-family: cursive;
    font-size: 15px;
}
.btn{
    color: white;
    display:flex;
    justify-content: flex-end;
}