
<div class="main-modal-div">
    <div class="modal-div">
        <div>
            <h6 class="modal-heading" mat-dialog-title>Edit Post</h6>
        </div>
        <div mat-dialog-content>
            <div class="mb-3">
                <div>
                    <label class=title for="">Title</label>
                </div>
                <div>
                    <input placeholder="input blog title" [(ngModel)]="model.title" class="text" type="text">
                </div>
            </div>
            <div>
                <div>
                    <label class="content" for="">Content</label>
                </div>
                <div>
                    <textarea placeholder="what's your thoughts" [(ngModel)]="model.comment" class="text-area" name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <div class="main-btn-div" mat-dialog-actions>
           <div class="send-btn-div">
            <button class="send-btn" mat-raised-button >Send</button>
           </div>&nbsp;
           <div class="cancel-btn-div">
            <button class="cancel-btn" mat-raised-button>Cancel</button>
           </div>
        </div>
    </div>
</div>