.title{
    color: blue;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
    
}
.list-main-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
input{
    display: flex;
    width: 50vw
}
.card-container{
    width: 65%;
    position: relative;
    align-items: center;
}
.card{
    width: 100%;
}
.card-body{
    padding: 1px;
    margin-left: 10px;
}

::placeholder{
    text-align: center;
    font-size: large;
    color: lightblue;
}
.search-div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.pagination-div{
    padding: 20px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pagination-div::ng-deep .ngx-pagination .current{
    background: red;
}