<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
   
    <div><a class="navbar-brand" href="#">Navbar</a></div>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <button class="btn btn-outline-success bg-primary" type="submit">Create Post</button>
    </div>
  </nav> -->

  <mat-toolbar class="mat-toolbar">
    <span class="badge" (click)="clickBadge()">STACKBLOG</span>
    <span class="example-spacer"></span>
    <button style="color: black; background-color: white;" mat-raised-button (click)="addEditPost()">Create Post</button>
  </mat-toolbar>
  
